{% extends "base.html" %}

{% block title %}Панель управления{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Добро пожаловать, {{ user[1] }}!</h2>
        <p class="lead">Вы успешно авторизованы в системе.</p>
        
        <div class="card mt-4">
            <div class="card-header">
                <h4>Информация о профиле</h4>
            </div>
            <div class="card-body">
                <p><strong>Имя пользователя:</strong> {{ user[1] }}</p>
                <p><strong>Email:</strong> {{ user[2] }}</p>
                <a href="{{ url_for('edit_profile') }}" class="btn btn-primary">Редактировать профиль</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
"""